body {
  font-family:monospace;
  padding: 40px;
  color: #33242b;
  background-color: #f7f4e9;
}



h1,h2,h3{
  color: #654b3a;
  font-family: 'Indie Flower', cursive;


}


.container {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 10px;
grid-row-gap: 0px;
}

#form-wrapper {
  display: flex;
  flex-direction: column;
  grid-area: 1 / 1 / 2 / 2;
  padding-top: 20px;
  padding: 20px;
  border-style: dotted;
  border-color: #33242b;
}

.form-item {
  margin-right: 1.8rem;
}

label.primary {
  display: block;
  margin: 0.4em 0;
}

button, input[type="submit"] {
  margin-top: 1rem;
  background-color: #654b3a;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  width: 30%;
}

.button:hover {
  background-color: #654b3ac9;
  color: white;
}

.display {
  display: flex;
  flex-direction: column;
  grid-area: 1 / 1 / 2 / 2;
  padding-top: 20px;
  padding: 20px;
  border-style: dotted;
  border-color: #33242b;

}

#milkshake-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.milkshake-list-item {
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.8rem;
  border: 7px solid #faeaea;
  border-radius: 0%;
  background: #faeaeabd;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.2) !important;
}
